<nb-layout>
  <nb-layout-column> 
      <nb-card>           
          <nb-card-body> 
              <div class="grandParentContaniner" style="width: 40%;">
                  <div class="parentContainer">
    <form name="form" (ngSubmit)="f.form.valid " #f="ngForm" >
      <div class="form-group">
        <label for="username" style="font-size: 120%;">Email :</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
          required />
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required"><small style="color:red">Email est requis !</small></div>
        </div>
      </div>
      <div class="form-group">
        <label for="password" style="font-size: 120%;">Mot de passe :</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
          required minlength="6" />
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required"><small style="color:red">Mot de passe est requis !</small></div>
          <div *ngIf="password.errors.minlength"><small style="color:red">Le mot de passe doit contenir au moins 6 caractères !</small></div>
        </div>
      </div>
      <div class="form-group">
        <label for="username" style="font-size: 120%;">Prénom :</label>
        <input type="text" class="form-control" name="firstname" [(ngModel)]="form.firstname" #firstname="ngModel"
          required />
        <div *ngIf="f.submitted && firstname.invalid">
          <div *ngIf="firstname.errors.required"><small style="color:red">Le prénom est requis !</small></div>
        </div>

        <label for="username" style="font-size: 120%;">Nom :</label>
        <input type="text" class="form-control" name="lastname" [(ngModel)]="form.lastname" #lastname="ngModel"
          required />
        <div *ngIf="f.submitted && lastname.invalid">
          <div *ngIf="lastname.errors.required"><small style="color:red">Le nom est requis !</small></div>
        </div>

        <label for="username" style="font-size: 120%;">CIN :</label>
        <input type="text" class="form-control" name="cin" [(ngModel)]="form.cin" #cin="ngModel"
          required minlength="8" maxlength="8" />
        <div *ngIf="f.submitted && cin.invalid">
          <div *ngIf="cin.errors.required"><small style="color:red">Le cin est requis !</small></div>
          <div *ngIf="cin.errors.minlength"><small style="color:red">cin invalid !</small></div>
        </div>

        <label for="username" style="font-size: 120%;">Numéro de passeport :</label>
        <input type="text" class="form-control" name="passeport" [(ngModel)]="form.passeport" #passeport="ngModel"/>

      </div>

      <div class="form-group">
        <a ><button nbButton
          fullWidth
          [disabled]="loading"
          (click)="onSubmit()"> s'inscrire</button></a>
      </div>
      <br>
      <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          erreur de connexion : {{errorMessage}}
      </div>
    </form>
</div>
</div>
</nb-card-body>   
</nb-card>     
</nb-layout-column> 
</nb-layout>