<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-11">
        Mise à jour des symptômes du patient {{patient.firstname}} {{patient.lastname}}</div>
     <div class="col-md-1" >
      <button  class="btn btn-info" (click)="goBackToList()"  ><i class="fas fa-arrow-left"></i></button>
    </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="registerForm" novalidate>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <nb-checkbox [(checked)]="checkexposure">Exposition</nb-checkbox>
          </div>
        </div>
      </div>
      <div *ngIf="checkexposure">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <nb-checkbox [(checked)]="exposure.Traveler">J'était en voyage au cours du moi dernier</nb-checkbox>
            </div>
          </div>
          <div *ngIf="exposure.Traveler" class="col-sm-8">
            <div class="form-group">
              <input [(ngModel)]="exposure.visitedCoutry" [ngModelOptions]="{standalone: true}" type="text" nbInput fullWidth  placeholder="Pays">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <nb-checkbox [(checked)]="exposure.contactWithTraveler">J'était en contact avec une personne qui revient d’un voyage</nb-checkbox>
            </div>
          </div>
        </div>
      <div *ngIf="exposure.contactWithTraveler" class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <nb-checkbox [(checked)]="exposure.sameHomePersonReturningFromTrip">Habite avec vous à la maison</nb-checkbox>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="form-group">
              <input [(ngModel)]="exposure.countryPersonReturningFromTrip" [ngModelOptions]="{standalone: true}" type="text" nbInput fullWidth  placeholder="du quel pays ?">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <nb-checkbox [(checked)]="exposure.hasmakingtest">J'ai subi (ou la personne contactée) le test de dépistage du virus corona</nb-checkbox>
            </div>
          </div>
          <div *ngIf="exposure.hasmakingtest" class="col-sm-6">
            <div class="form-group">
              <nb-select fullWidth  [ngModelOptions]="{standalone: true}" [(ngModel)]="exposure.contactedTravellerTestResult"placeholder="Resultat">
              <nb-option value="true">Positif</nb-option>
              <nb-option value="false">Négatif</nb-option>
            </nb-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <nb-checkbox [(checked)]="exposure.visitRegion">J'ai voyagé dans une ville qui contient un foyer local</nb-checkbox>
            </div>
          </div>
        </div>
      <div *ngIf="exposure.visitRegion" class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input nbInput [ngModelOptions]="{standalone: true}"
                 placeholder="Date de voyage"
                 [nbDatepicker]="formpicker" fullWidth
                 [(ngModel)]="exposure.visitDate"/>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input [(ngModel)]="exposure.visitedRegion" [ngModelOptions]="{standalone: true}" type="text" nbInput fullWidth  placeholder="Quelle ville ?">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <nb-checkbox [(checked)]="exposure.contactWithInfectedPerson">J'ai contacté une personne infectée (dans les deux semaines passées)</nb-checkbox>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <nb-checkbox [(checked)]="exposure.withSuspiciousGroup">J'ai contacté des personnes qui ont des symptômes (des signes respiratoires,fievre,...)</nb-checkbox>
            </div>
          </div>
        </div>  
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <nb-checkbox [(checked)]="symptom.fever">Fièvre</nb-checkbox>
          </div>
        </div>
        <div *ngIf="symptom.fever" class="col-sm-8">
          <input type="number" nbInput fullWidth  placeholder="Température"
          [(ngModel)]="symptom.temperature" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <nb-checkbox [(checked)]="symptom.cough">Toux</nb-checkbox>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <nb-checkbox [(checked)]="symptom.dyspnea">dyspnea</nb-checkbox>
            <nb-checkbox [(checked)]="symptom.severeDyspnea">dyspnea extrème</nb-checkbox>
            <nb-checkbox [(checked)]="symptom.unableToSpeak">Ne peut pas parler</nb-checkbox>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <nb-checkbox [(checked)]="symptom.deteriorationOfGC">Altération de l'état général</nb-checkbox>
          </div>
        </div>
        <div *ngIf="symptom.deteriorationOfGC" class="col-sm-8">
          <input type="number" nbInput fullWidth  placeholder="Depuis combien de jours ?"
          [(ngModel)]="symptom.duration" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <nb-checkbox [(checked)]="symptom.diarrhea">Diarrhée</nb-checkbox>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <nb-checkbox [(checked)]="symptom.nauseaOrVomiting">Nausée/Vomissements</nb-checkbox>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <nb-checkbox [(checked)]="symptom.chestPain">Douleur thoracique</nb-checkbox>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <nb-checkbox [(checked)]="symptom.epigastralgia">Epigastralgie</nb-checkbox>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <nb-checkbox [(checked)]="symptom.soreThroat">Mal de gorge</nb-checkbox>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <nb-checkbox [(checked)]="symptom.arthalgia">Arthralgies/Myalgie</nb-checkbox>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <nb-checkbox [(checked)]="symptom.senseDisorder">Perte du goût/Anosmie</nb-checkbox>
          </div>
        </div>
      </div>
      <br>
      <br>
    <div class="row">
      <div class="col-sm-2">
        <button type="button" nbButton (click)="onSubmit()">Ajouter</button>
          <br>
          <br>
          <div *ngIf="submitted && isSignUpFailed" class="alert alert-warning">              
            L'ajout a échoué !<br/>{{errorMessage}}
          </div>
      </div>
      <div class="col-sm-1">
        <button type="button" nbButton status="danger" (click)="reset()">Annuler</button>
      </div>  
    </div>
    </form>
  </nb-card-body>
</nb-card>
