<nb-card>
  <nb-card-header>Ajouter une intervention pour un patient</nb-card-header>
  <nb-card-body>
    <form [formGroup]="registerForm" novalidate>
      <div class="form-group row">
        <label  class="label col-sm-2 col-form-label">Patient :</label>
        <div class="col-sm-10">
          <nb-select formControlName="patient" fullWidth  name="patient" [(ngModel)]="intervention.patient" required 
          [ngClass]="{ 'is-invalid': submitted && f.patient.errors }">
          <nb-option *ngFor="let pat of patients" [value]="pat">{{pat.firstname}} {{pat.lastname}}</nb-option>
        </nb-select>
        <div *ngIf="submitted && f.patient.errors">
          <div style="color:red;" *ngIf="f.patient.errors.required">Le patient est requis !</div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="label">Détails de l'intervention :</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <textarea formControlName="description" rows="20" nbInput fullWidth shape="round"  placeholder="Détails de l'intervention..." 
            name="description" [(ngModel)]="intervention.description"
              [ngClass]="{ 'is-invalid': submitted && f.date.errors }"  required></textarea>
            <div *ngIf="submitted && f.description.errors">
              <div style="color:red;" *ngIf="f.description.errors.required">La description est requise !</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <button type="button" nbButton (click)="onSubmit()">Ajouter</button>
            <br>
            <br>
            <div *ngIf="submitted && isSignUpFailed" class="alert alert-warning">              
              L'ajout a échoué !<br/>{{errorMessage}}
            </div>
        </div>
        <div class="col-sm-1">
          <button type="button" nbButton status="danger" (click)="reset()">Annuler</button>
        </div>  
      </div>
    </form>
  </nb-card-body>
</nb-card>