<form class="form">
    <div class="row">
      <div class="col-sm-3">
        <label  class="label">Prise en charge</label>
      </div>
      <div class="col-sm-5">
        <nb-select name="priseencharge" required fullWidth [(ngModel)]="priseencharge">
          <nb-option *ngFor="let key of priseenchargeOptions" [value]="key">{{key}}</nb-option>
        </nb-select>
      </div>  
      <div class="col-sm-2">
        <button type="button" nbButton (click)="onSubmit()">Changer</button>
      </div>
      <br>
      <br>
      <br>
      <br>       
  </div>  
</form>