<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-md-11">
        Modifier la fiche patient de {{patient.firstname}} {{patient.lastname}}</div>
     <div class="col-md-1" >
      <button  class="btn btn-info" (click)="goBackToList()"  ><i class="fas fa-arrow-left"></i></button>
    </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="registerForm" novalidate>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="label">Prénom</label>
            <input formControlName="firstname" type="text" nbInput fullWidth  placeholder="Prénom" 
            name="firstname" [(ngModel)]="patient.firstname"  
            [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" required />
            <div *ngIf="submitted && f.firstname.errors">
              <div style="color:red;" *ngIf="f.firstname.errors.required">Le prénom est requis !</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label  class="label">Nom</label>
            <input formControlName="lastname" type="text" nbInput fullWidth 
            placeholder="Nom" name="lastname" [(ngModel)]="patient.lastname"  
            [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }"required />
            <div *ngIf="submitted && f.lastname.errors">
              <div style="color:red;" *ngIf="f.lastname.errors.required">Le nom est requis !</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label  class="label">CIN</label>
            <input [ngModelOptions]="{standalone: true}" type="text" nbInput fullWidth  
            placeholder="CIN" name="cin" [(ngModel)]="patient.cin">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label  class="label">Téléphone</label>
            <input type="tel" nbInput fullWidth  placeholder="Téléphone"
            name="phone" [(ngModel)]="patient.phone" [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label  class="label">Téléphone proche</label>
            <input type="tel" nbInput fullWidth  placeholder="Téléphone proche"
             [(ngModel)]="patient.backupPhone" [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label  class="label">Ville</label>
            <input [ngModelOptions]="{standalone: true}" type="text" nbInput fullWidth  
            placeholder="Ville" [(ngModel)]="address.city">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label  class="label">Gouvernorat</label>
            <input type="text" nbInput fullWidth  placeholder="Gouvernorat"
             [(ngModel)]="address.state" [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
              <label  class="label">Genre</label>
              <nb-select  formControlName="gender" fullWidth  name="gender" [(ngModel)]="patient.gender" required 
            [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
              <nb-option *ngFor="let key of genderOptions" [value]="key">{{key}}</nb-option>
            </nb-select>
            <div *ngIf="submitted && f.gender.errors">
              <div style="color:red;" *ngIf="f.gender.errors.required">Le genre est requis !</div>
            </div>
            </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label  class="label">Age</label>
            <input formControlName="age" type="number" nbInput fullWidth 
            placeholder="Age" name="age" [(ngModel)]="patient.age"  
            [ngClass]="{ 'is-invalid': submitted && f.age.errors }"required />
            <div *ngIf="submitted && f.age.errors">
              <div style="color:red;" *ngIf="f.age.errors.required">L'age' est requis !</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label  class="label">Poids</label>
            <input type="number" nbInput fullWidth  placeholder="Poids" name="weight" 
            [(ngModel)]="patient.weight" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label  class="label">Longueur</label>
            <input type="number" nbInput fullWidth  placeholder="Longueur" name="height" 
            [(ngModel)]="patient.height" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputLastName" class="label">Etat civil</label>
            <nb-select  formControlName="civilStatus" fullWidth  name="civilStatus" [(ngModel)]="patient.civilStatus" required 
            [ngClass]="{ 'is-invalid': submitted && f.civilStatus.errors }">
              <nb-option *ngFor="let key of civilOptions" [value]="key">{{key}}</nb-option>
            </nb-select>
            <div *ngIf="submitted && f.civilStatus.errors">
              <div style="color:red;" *ngIf="f.civilStatus.errors.required">L'état civil est requis !</div>
            </div>
          </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputLastName" class="label">Profession</label>
          <nb-select  [ngModelOptions]="{standalone: true}" fullWidth  name="profession" [(ngModel)]="patient.profession">
              <nb-option *ngFor="let key of professionOptions" [value]="key">{{key}}</nb-option>
            </nb-select>
        </div>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-group">
          <nb-checkbox [(checked)]="handicape" >Handicapé</nb-checkbox>
        </div>
      </div>
      <div *ngIf="handicape" class="col-sm-6">
        <div class="form-group">
          <nb-checkbox [(checked)]="patient.physicalHandicap" >Handicape Physique</nb-checkbox>
          <nb-checkbox [(checked)]="patient.intellecHandicap" >Handicape intellectuelle</nb-checkbox>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 label">Est ce que vous habitez ?</label>
      <div class="col-sm-2">
        <nb-radio-group name="g1">
          <nb-radio [(ngModel)]="patient.liveAlone">Seul(e)</nb-radio>
          <nb-radio [(ngModel)]="patient.liveWithFamily">Avec la famille</nb-radio>
        </nb-radio-group>  
      </div>
      </div>
      <div class="form-group row">
        <label f class="label col-sm-2 col-form-label">Nombre des personnes du famille:</label>
        <div class="col-sm-4">
          <input type="number" nbInput fullWidth  placeholder="Nombre de personnes du famille"
          [(ngModel)]="patient.familySize" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="label">Est ce que vous avez dans votre maison ?</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <nb-checkbox [(checked)]="patient.runningWater" >Eau courante</nb-checkbox>
            <nb-checkbox [(checked)]="patient.hotWater" >Eau chaude</nb-checkbox>
            <nb-checkbox [(checked)]="patient.sewageDisposal">Evacuation des eaux usées (ONAS)</nb-checkbox>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 label">Possibilité d’avoir une chambre seule ?</label>
        <div class="col-sm-4">
          <nb-radio-group name="g2">
            <nb-radio [(ngModel)]="patient.singleRoom">Oui (avec porte fermée/fenêtre/douche)</nb-radio>
            <nb-radio>Non</nb-radio>
          </nb-radio-group>  
        </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <div class="form-group">
              <label class="label">Couverture sociale ?</label>
            </div>
          </div>
          <div class="col-sm-4">
            <nb-select  [ngModelOptions]="{standalone: true}" fullWidth [(ngModel)]="patient.socialCoverage">
              <nb-option *ngFor="let key of socialOptions" [value]="key">{{key}}</nb-option>
            </nb-select>
        </div>
        </div>
        <br>
        <br>
      <div class="row">
        <div class="col-sm-2">
          <button type="button" nbButton (click)="onSubmit()">Modifier</button>
            <br>
            <br>
            <div *ngIf="submitted && isSignUpFailed" class="alert alert-warning">              
              La modification a échoué !<br/>{{errorMessage}}
            </div>
        </div>
        <div class="col-sm-1">
          <button type="button" nbButton status="danger" (click)="reset()">Annuler</button>
        </div>  
      </div>
  </form>
  </nb-card-body>
</nb-card>