<nb-card *ngIf="userService.showlist">
  <nb-card-header>
    Liste des utilisateurs
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-10">
        <input class="form-control" #search type="text" placeholder="Search" aria-label="Search" (keydown.enter)="onSearch(search.value)">
      </div>
     <div class="col-md-2" >
        <button  class="btn btn-info" (click)="showedit()"  ><i class="fas fa-edit"></i></button>
        &nbsp;
        <button  class="btn btn-info" (click)="showdetails()"  ><i class="fas fa-search-plus"></i></button>
        &nbsp;
        <button  class="btn btn-info" (click)="onDeleteConfirm()"  ><i class="fas fa-trash-alt"></i></button>
    </div>
    </div>
    <br>
    <ng2-smart-table
         [settings]="settings" 
         [source]="source"
         (userRowSelect)="onUserRowSelect($event)">
      </ng2-smart-table>
  </nb-card-body>
</nb-card>
<ngx-user-details *ngIf="userService.showdetails" [user]="user"  (createdUser)='doRefreshData($event)'>
</ngx-user-details>
<ngx-update-user *ngIf="userService.showedit" [user]="user"  (createdUser)='doRefreshData($event)'>
</ngx-update-user>
