<nb-card>
  <nb-card-header>Détails de l'intervention</nb-card-header>
  <nb-card-body>
    <form [formGroup]="registerForm" novalidate>
      <div class="form-group row">
        <label  class="label col-sm-2 col-form-label">Patient :</label>
        <div class="col-sm-10">
          <select  class="form-control" selected="intervention.patient" formControlName="patient" fullWidth [(ngModel)]="intervention.patient" required 
          [ngClass]="{ 'is-invalid': submitted && f.patient.errors }">
          <option *ngFor="let pat of patients" [value]="pat">{{pat.firstname}} {{pat.lastname}}</option>
        </select>
        <div *ngIf="submitted && f.patient.errors">
          <div style="color:red;" *ngIf="f.patient.errors.required">Le patient est requis !</div>
        </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="label col-sm-2 col-form-label">Date de l'intervention :</label>
        <div class="col-sm-10">
          <input formControlName="date" nbInput
               placeholder=""
               [nbDatepicker]="formpicker" fullWidth
               name="date" [(ngModel)]="intervention.date"
              [ngClass]="{ 'is-invalid': submitted && f.date.errors }"  required/>
            <nb-datepicker #formpicker></nb-datepicker>
            <div *ngIf="submitted && f.date.errors">
              <div style="color:red;" *ngIf="f.date.errors.required">La date est requise !</div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="label">Détails de l'intervention :</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <textarea formControlName="description" rows="20" nbInput fullWidth shape="round"  placeholder="Détails de l'intervention..." 
            name="description" [(ngModel)]="intervention.description"
              [ngClass]="{ 'is-invalid': submitted && f.date.errors }"  required></textarea>
            <div *ngIf="submitted && f.description.errors">
              <div style="color:red;" *ngIf="f.description.errors.required">La description est requise !</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
