<nb-card *ngIf="symptomService.showlist">
  <nb-card-header>
    Liste des symptômes
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-10">
        <input class="form-control" #search type="text" placeholder="Search" aria-label="Search" (keydown.enter)="onSearch(search.value)">
      </div>
     <div class="col-md-2" >
        <button  class="btn btn-info" (click)="showedit()"  ><i class="fas fa-edit"></i></button>
        &nbsp;
        <button  class="btn btn-info" (click)="showdetails()"  ><i class="fas fa-search-plus"></i></button>
        &nbsp;
        <button  class="btn btn-info" (click)="onDeleteConfirm()"  ><i class="fas fa-trash-alt"></i></button>
    </div>
    </div>
    <br>
    <ng2-smart-table
         [settings]="settings" 
         [source]="source"
         (userRowSelect)="onSymptomRowSelect($event)">
      </ng2-smart-table>
  </nb-card-body>
</nb-card>
<ngx-symptom-details *ngIf="symptomService.showdetails" [symptom]="symptom"  (createdSymptom)='doRefreshData($event)'>
</ngx-symptom-details>
<ngx-update-symptom *ngIf="symptomService.showedit" [symptom]="symptom"  (createdSymptom)='doRefreshData($event)'>
</ngx-update-symptom>

