<nb-card class="own-scroll">
  <nb-card-header>
    <div class="row">
      <div class="col-md-11">
        Liste des symptômes du patient {{patient.firstname}} {{patient.lastname}}</div>
     <div class="col-md-1" >
      <button  class="btn btn-info" (click)="goBackToList()"  ><i class="fas fa-arrow-left"></i></button>
    </div>
    </div>
  </nb-card-header>
  <nb-list
    nbInfiniteList>
    <nb-list-item *ngFor="let symptom of symptoms">
      <article>
        <h6>Date : {{symptom.date| date:'yyyy-MM-dd'}} </h6>
        <p *ngIf="patient.exposure!=null">Exposution :<br></p>
        <p *ngIf="patient.exposure.Traveler">Voyage au cours du moi dernier au pays {{patient.exposure.visitedCoutry}}<br></p>
        <p *ngIf="patient.exposure.Traveler">En contact avec une personne qui revient de {{patient.exposure.countryPersonReturningFromTrip}}<br></p>
        <p *ngIf="patient.exposure.sameHomePersonReturningFromTrip">Cette personne est un membre de famille et ils habitent ensemble<br></p>
        <p *ngIf="patient.exposure.hasmakingtest">Subi (ou la personne contactée) le test de dépistage du virus corona<br> </p>
        <div *ngIf="patient.exposure.hasmakingtest&&patient.exposure.contactedTravellerTestResult">Le résultat est positif <br></div>
        <div *ngIf="patient.exposure.hasmakingtest&&patient.exposure.contactedTravellerTestResult===false">Le résultat est négatif <br></div>
        <p *ngIf="patient.exposure.visitRegion"> Voyage dans une ville qui contient un foyer local, 
          la ville est {{patient.exposure.visitedRegion}}, pour la date de {{patient.exposure.visitDate| date:'yyyy-MM-dd'}} <br></p>
        <p *ngIf="patient.exposure.contactWithInfectedPerson">Contacté une personne infectée (dans les deux semaines passées)<br></p>
        <p *ngIf="patient.exposure.withSuspiciousGroup">contacté des personnes qui ont des symptômes (des signes respiratoires,fievre,...)<br></p>
        <p *ngIf="symptom.fever">Fièvre<br>
        Tompérature : {{symptom.temperature}}<br></p>
        <p *ngIf="symptom.cough">Toux<br></p>
        <p *ngIf="symptom.dyspnea">Dyspnea<br></p>
        <p *ngIf="symptom.severeDyspnea">Dyspnea extrème<br></p>
        <p *ngIf="symptom.unableToSpeak">Ne peux pas parler<br></p>
        <p *ngIf="symptom.deteriorationOfGC">Altération de l'état général depuis {{symptom.duration}}<br></p>
        <p *ngIf="symptom.diarrhea">Diarrhée<br></p>
        <p *ngIf="symptom.nauseaOrVomiting">Nausée/Vomissements<br></p>
        <p *ngIf="symptom.soreThroat">Douleur thoracique<br></p>
        <p *ngIf="symptom.epigastralgia">Epigastralgie<br></p>
        <p *ngIf="symptom.chestPain">Mal de gorge<br></p>
        <p *ngIf="symptom.arthalgia">Arthralgies/Myalgie<br></p>
        <p *ngIf="symptom.senseDisorder">Perte du goût/Anosmie<br></p>
      </article>
    </nb-list-item>
  </nb-list>
</nb-card>